body, html{

    height: 100%;
    width: 100%;

    background-image: url(../images/plant_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.display{
    
    text-align: center;
    justify-content: center;
    /* outline: 1px solid red; */
    padding: 0px 0px 50px 0;
    color: white
    
}


.plants {

    display: flex;
    flex-direction: row;
    padding: 0 0px 0 0px;
    justify-content: center;
    opacity: .5;

  

}

.newImage{

    height: 400px;
}

.plants_clicked{

    outline: 3px solid green;
    opacity: .9;


}


